/*
Styles for this layout!
*/
html {
    color: #431C5D;
}
body {
    margin: 0;
    font-family: 'Andika', sans-serif;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amatic SC', cursive;
}
body {
    position: fixed;
    font-family: 'Muli', sans-serif;
    color: #3B3A36;
    height: 100vh;
    width: 100vw;
}
a {
    color: #B3C2BF;
    font-weight: 700;
    font-style: normal;
    line-height: 1.4em;
}
main {
    height: 100vh;
    overflow: scroll;
}
footer {
    margin-top: 4vh;
    margin-bottom: 2vh;
}

/*
Basic CSS Element Positioning
*/
#position-workspace {
    padding: 0px;
    height: 60vh;
    border-width: 3px;
    border-style: solid;
    border-color: #3B3A36;
    margin: 2vh 2vw 2vh 2vw;
    background-color: #F8B195;
    display: inline-block;
}
#static-div {
    background-color: #6C5B7B;
    width: 120px;
    height: 120px;
}
#relative-div {
    background-color: #C06C84;
    position: relative;
    width: 120px;
    height: 120px;
    
}
#absolute-div {
    background-color: #F67280;
    /*position: absolute;*/
    width: 120px;
    height: 120px;
    float: right;
}
#fixed-div {
    background-color: #355C7D;
    /*position: fixed;*/
    width: 120px;
    height: 120px;
    float: right;
}

/*
Text, Lists, Spans, Etc.
*/
.fav-color {
    color: #FFFFFF;
}
.bg-color {
    background-color: #000000;
}

/*
Anatomy Of A Layout
Here are the example styles. We'll need to translate some of this over to example-layout.css.
*/
#layout-example {
    padding: 0px;
    height: 60vh;
    border-width: 3px;
    border-style: solid;
    border-color: #3B3A36;
    margin: 2vh 2vw 2vh 2vw;
}

#layout-example > div {
    padding: 0px;
    margin: 0px;
}
#nav {
    background-color: #6C5B7B;
    height: 7%;
}
#header {
    background-color: #C06C84;
    height: 20%;
}
#aside {
    background-color: #F8B195;
    height: 65%;
}
#main {
    background-color: #F67280;
    height: 65%;
    float: right;
}
#first-section {
    background-color: #6C5B7B;
    height: 25%;
    margin-bottom: 5%;
}
#second-section {
    background-color: #6C5B7B;
    height: 50%;
}
#article {
    background-color: #F8B195;
    height: 75%;
}
#footer {
    background-color: #355C7D;
    height: 8%;
}

/*
A Lesson In Tables
Here are some funky table styles. I used special CSS selectors called 'pseudo-selectors'
in order to make changes specific to all but the last column, or just the first row.
Tables are a good example of how that works!
*/
table {
    text-align: center;
    color: #B3C2BF;
    background-color: #3B3A36;
    border-radius: 5px;
}
th,
td {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
th {
    border-bottom: 2px dotted #C0DFD9;
}
tr > td:not(:first-child) {
    color: #E9ECE5;
    font-weight: bold;
}
tr > td:not(:last-child),
tr > th:not(:last-child) {
    border-right: 2px dotted #C0DFD9;
}

/* 
Image Effects 
This circular image style requires square image - crop online at http://croppola.com/
*/
.circular-square {
    border-radius: 50%;
    height: 35vmin;
    shape-outside: circle(50%);
    width: 35vmin;
}
.styled-image {
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    border-color: #000000;
    border-radius: 1%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    height: 35vmin;
    width: 35vmin;
}
.before-image {
    width: 35vmin;
    height: 35vmin;
}


/*
Simple styles for text alignment etc.
*/
.centered-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.callout-box {
    border: 3px solid #3B3A36;
    border-radius: 5px;
}


/* solid background color and pattern overlay */
.solid-background {
    background-color: #E9ECE5;
    z-index: -2;
}
[class*='-background'] > .overlay-alt {
    background-image: url(./images/cubes.png);
    background-repeat: repeat;
    height: 105vh;
    left: -5vw;
    margin: 0px;
    position: absolute;
    top: -5vh;
    width: 105vw;
    z-index: -1;
}